<!-- Modal -->
<div class="modal fade" id="gardenSpaceModal" tabindex="-1" aria-labelledby="GardenSpaceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="garden_space_modal_title">

        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal_body">

      </div>
      <div class="modal-footer" id="modal_footer">
      
      </div>
    </div>
  </div>
</div>

