
<div class="container">
    <div class="row mb-3 mt-3">
        <div class="col-6">
            <h2 class="garden_space_title fw-bolder">계피맛 퐁듀</h2>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-link btn-md float-end p-0 ms-3"><i class="bi bi-trash-fill fs-3 text-danger"></i></button>
            <button type="button" class="btn btn-link btn-md float-end p-0 ms-3"><i class="bi bi-brush-fill fs-3 text-success"></i></button>
            <button type="button" onclick="MovePage('./IndexForGardenBaseType')" class="btn btn-link btn-md float-end p-0 ms-3">
                <i class="bi bi-nut-fill fs-3 text-warning"></i>
                </button>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-xs-6 col-sm-6 col-xl-3 p-2">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="fw-bold mb-1">
                                참가 인원
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">137 / 150</div>
                        </div>
                        <div class="col-auto">
                            <i class="bi-people-fill fs-2" style="color:#198754"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-xl-3 p-2">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="fw-bold mb-1">
                                초대 현황
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">13 / 57</div>
                        </div>
                        <div class="col-auto">
                            <i class="bi-envelope-fill fs-2" style="color:#198754"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-xl-3 p-2">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="fw-bold mb-1">
                                진행중인 Task
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">13</div>
                        </div>
                        <div class="col-auto">
                            <i class="bi-play-circle-fill fs-2" style="color:#198754"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-xl-3 p-2">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="fw-bold mb-1">
                                이벤트
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">13</div>
                        </div>
                        <div class="col-auto">
                            <i class="bi bi-bell-fill fs-2" style="color:#198754"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-sm-12 col-md-6 col-xl-4 p-2">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-12" id="login_user_img" style="min-height:300px;">
                            <img class="pt-5" src="~/img/noProfile/noProfile_3.svg" style="height:250px; width:100%" />
                        </div>
                    </div>
                    <form id="img_upload_form" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-12 border-top pt-3">
                                <input class="form-control" type="file" name="File" onchange="FileUpload(this)" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-xl-8 p-2">
            <div class="card" style="min-height:397px;">
                <div class="card-body">
                    <div class="row mb-2">
                        <label class="col-sm-3 col-form-label fw-bold text-danger">
                            <i class="bi-person-badge-fill me-2"></i>
                            생성자
                        </label>
                        <div class="col-sm-9">
                            <input type="text" value="고고한" class="form-control-plaintext" disabled />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label class="col-sm-3 col-form-label fw-bold text-danger">
                            <i class="bi-calendar-plus-fill me-2"></i>
                            생성일자
                        </label>
                        <div class="col-sm-9">
                            <input type="text" value="2021-12-22" class="form-control-plaintext" disabled />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label class="col-sm-3 col-form-label fw-bold text-danger">
                            <i class="bi-tag-fill me-2"></i>
                            타입
                        </label>
                        <div class="col-sm-9">
                            <input type="text" value="음악학원" class="form-control-plaintext" disabled />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label class="col-sm-3 col-form-label fw-bold text-danger">
                            <i class="bi-eye-fill me-2"></i>
                            공개여부
                        </label>
                        <div class="col-sm-9">
                            <input type="text" value="비공개" class="form-control-plaintext" disabled />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label class="col-sm-3 col-form-label fw-bold text-danger">
                            <i class="bi-envelope-fill me-2"></i>
                            초대로만 받기
                        </label>
                        <div class="col-sm-9">
                            <input type="text" value="true" class="form-control-plaintext" disabled />
                        </div>
                    </div>
                    <hr />
                    <div class="row mb-2">
                        <label class="col-sm-3 col-form-label fw-bold text-danger">
                            <i class="bi-calendar-event me-2"></i>
                            계획 시작날짜
                        </label>
                        <div class="col-sm-3">
                            <input type="text" value="없음" class="form-control-plaintext" disabled />
                        </div>

                        <label class="col-sm-3 col-form-label fw-bold text-danger">
                            <i class="bi-calendar-event-fill me-2"></i>
                            계획 종료날짜
                        </label>
                        <div class="col-sm-3">
                            <input type="text" value="없음" class="form-control-plaintext" disabled />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label class="col-sm-3 col-form-label fw-bold text-danger">
                            <i class="bi-calendar-check me-2"></i>
                            시작날짜
                        </label>
                        <div class="col-sm-3">
                            <input type="text" value="없음" class="form-control-plaintext" disabled />
                        </div>

                        <label class="col-sm-3 col-form-label fw-bold text-danger">
                            <i class="bi-calendar-check-fill me-2"></i>
                            종료날짜
                        </label>
                        <div class="col-sm-3">
                            <input type="text" value="없음" class="form-control-plaintext" disabled />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-sm-12 col-md-6 col-xl-6 p-2">
            <div class="card" style="min-height:300px; max-height:300px; overflow-y:auto">
                <div class="card-header bg-white fw-bold">
                    <i class="bi bi-play-circle-fill me-2" style="color:#198754"></i>
                    진행중인 Task
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <td>Test Task1</td>
                            <td><i class="bi bi-people-fill me-2"></i>4</td>
                            <td>2021-10-30</td>
                            <td>2021-12-31</td>
                        </tr>
                        <tr>
                            <td>Test Task2</td>
                            <td><i class="bi bi-people-fill me-2"></i>15</td>
                            <td>2021-10-30</td>
                            <td>2021-12-31</td>
                        </tr>
                        <tr>
                            <td>Test Task3</td>
                            <td><i class="bi bi-people-fill me-2"></i>8</td>
                            <td>2021-10-30</td>
                            <td>2021-12-31</td>
                        </tr>
                        <tr>
                            <td>Test Task4</td>
                            <td><i class="bi bi-people-fill me-2"></i>8</td>
                            <td>2021-10-30</td>
                            <td>2021-12-31</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-xl-6 p-2">
            <div class="card" style="min-height:300px; max-height:300px; overflow-y:auto">
                <div class="card-header bg-white fw-bold">
                    <i class="bi bi-stop-circle-fill me-2" style="color:#198754"></i>
                    완료된 Task
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto m-auto">
                            <img src="~/img/noElement/undraw_not_found.svg" style="height:150px;" />
                            <br />
                            <br />
                            <h5 class="fw-bold">조회된 데이터가 없어요.</h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-sm-12 col-md-12 col-xl-4 p-2">
            <div class="card" style="min-height:300px; max-height:300px; overflow-y:auto;">
                <div class="card-header bg-white fw-bold">
                    <i class="bi-people-fill me-2" style="color:#198754"></i>
                    참가 인원
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <td>계피맛 퐁듀</td>
                            <td>2021-12-04</td>
                        </tr>
                        <tr>
                            <td>포도맛 퐁듀</td>
                            <td>2021-12-03</td>
                        </tr>
                        <tr>
                            <td>스리라차맛 퐁듀</td>
                            <td>2021-12-01</td>
                        </tr>
                        <tr>
                            <td>핵폭탄 </td>
                            <td>2021-12-13</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-xl-4 p-2">
            <div class="card" style="min-height:300px; max-height:300px; overflow-y:auto;">
                <div class="card-header bg-white fw-bold">
                    <i class="bi bi-envelope-fill me-2" style="color:#198754"></i>
                    초대 현황(수신)
                    <button class="btn btn-link float-end p-0">
                        <i class="bi bi-x-circle-fill text-danger ms-2"></i>
                    </button>
                    <button class="btn btn-link float-end p-0">
                        <i class="bi bi-check-circle-fill text-primary"></i>
                    </button>

                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <td>Sepia Wind</td>
                            <td>2021-12-04</td>
                            <td>
                                <button type="button" class="btn btn-link btn-sm p-0"><i class="bi bi-check-circle-fill text-primary me-2"></i></button>
                                <button type="button" class="btn btn-link btn-sm p-0"><i class="bi bi-x-circle-fill text-danger"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>라이어넬</td>
                            <td>2021-12-03</td>
                            <td>
                                <button type="button" class="btn btn-link btn-sm p-0"><i class="bi bi-check-circle-fill text-primary me-2"></i></button>
                                <button type="button" class="btn btn-link btn-sm p-0"><i class="bi bi-x-circle-fill text-danger"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>룰룰랄라</td>
                            <td>2021-12-01</td>
                            <td>
                                <button type="button" class="btn btn-link btn-sm p-0"><i class="bi bi-check-circle-fill text-primary me-2"></i></button>
                                <button type="button" class="btn btn-link btn-sm p-0"><i class="bi bi-x-circle-fill text-danger"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>커피 추출기</td>
                            <td>2021-12-13</td>
                            <td>
                                <button type="button" class="btn btn-link btn-sm p-0"><i class="bi bi-check-circle-fill text-primary me-2"></i></button>
                                <button type="button" class="btn btn-link btn-sm p-0"><i class="bi bi-x-circle-fill text-danger"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-xl-4 p-2">
            <div class="card" style="min-height:300px; max-height:300px; overflow-y:auto;">
                <div class="card-header bg-white fw-bold">
                    <i class="bi bi-envelope-fill me-2" style="color:#198754"></i>
                    초대 현황(발신)
                    <button class="btn btn-link float-end p-0">
                        <i class="bi bi-person-plus-fill"></i>
                    </button>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <td>vamps</td>
                            <td>2021-12-04</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-12 p-2">
            <div class="card">
                <div class="card-header bg-white fw-bold">
                    <i class="bi bi-bell-fill me-2" style="color:#198754"></i>
                    이벤트
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_Modal.cshtml" />
<script src="~/js/gardenSpace.js"></script>
