
<div class="container">
    <input type="hidden" id="space_id" value="@ViewBag.id" />
    <div class="row mb-3 mt-3">
        <div class="col-6">
            <h2 class="garden_space_title fw-bolder" id="detail_space_name">계피맛 퐁듀</h2>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-link btn-md float-end p-0 ms-3"><i class="bi bi-trash-fill fs-3 text-danger"></i></button>
            <button type="button" onclick="RenderUpdateSpaceModal()" data-bs-toggle="modal" data-bs-target="#gardenSpaceModal" class="btn btn-link btn-md float-end p-0 ms-3">
                <i class="bi bi-brush-fill fs-3 text-success"></i>
            </button>
            <button type="button" onclick="MovePage('/GardenSpace/IndexForGardenBaseType?id=@ViewBag.id')" class="btn btn-link btn-md float-end p-0 ms-3">
                <i class="bi bi-nut-fill fs-3 text-warning"></i>
            </button>
        </div>
    </div>

    <partial name="_DetailForTop.cshtml" />

    <div class="row mb-1">
        <div class="col-sm-12 col-md-6 col-xl-4 p-2">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-12" id="login_user_img" style="min-height:300px;">
                            <img class="pt-5" src="~/img/noProfile/noProfile_3.svg" style="height:250px; width:100%" />
                        </div>
                    </div>
                    <form id="img_upload_form" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-12 border-top pt-3">
                                <input class="form-control" type="file" name="File" onchange="FileUpload(this)" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-xl-8 p-2">
            <div class="card" style="min-height:397px;">
                <div class="card-body">
                    <div class="row mb-2">
                        <label class="col-sm-3 col-form-label fw-bold text-danger">
                            <i class="bi-person-badge-fill me-2"></i>
                            생성자
                        </label>
                        <div class="col-sm-9">
                            <input type="text" value="고고한" id="detail_space_creator" class="form-control-plaintext" disabled />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label class="col-sm-3 col-form-label fw-bold text-danger">
                            <i class="bi-calendar-plus-fill me-2"></i>
                            생성일자
                        </label>
                        <div class="col-sm-9">
                            <input type="text" value="2021-12-22" id="detail_space_create_date" class="form-control-plaintext" disabled />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label class="col-sm-3 col-form-label fw-bold text-danger">
                            <i class="bi-tag-fill me-2"></i>
                            타입
                        </label>
                        <div class="col-sm-9">
                            <input type="text" value="음악학원" id="detail_space_type_name" class="form-control-plaintext" disabled />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label class="col-sm-3 col-form-label fw-bold text-danger">
                            <i class="bi-envelope-fill me-2"></i>
                            초대로만 받기
                        </label>
                        <div class="col-sm-3" >
                            <input type="text" value="true" id="detail_space_only_invite" class="form-control-plaintext" disabled />
                        </div>

                        <label class="col-sm-3 col-form-label fw-bold text-danger">
                            <i class="bi-eye-fill me-2"></i>
                            공개여부
                        </label>
                        <div class="col-sm-3">
                            <input type="text" value="비공개" id="detail_space_is_private" class="form-control-plaintext" disabled />
                        </div>
                    </div>
                       <div class="row mb-2">
                        <label class="col-sm-3 col-form-label fw-bold text-danger">
                            <i class="bi-pencil-fill me-2"></i>
                            설명
                        </label>
                        <div class="col-sm-9">
                            <input type="text" value="true" id="detail_space_description" class="form-control-plaintext" disabled />
                        </div>
                    </div>
                    <hr />
                    <div class="row mb-2">
                        <label class="col-sm-3 col-form-label fw-bold text-danger">
                            <i class="bi-calendar-event me-2"></i>
                            계획 시작날짜
                        </label>
                        <div class="col-sm-3">
                            <input type="text" value="없음" id="detail_space_plan_start_date" class="form-control-plaintext" disabled />
                        </div>

                        <label class="col-sm-3 col-form-label fw-bold text-danger">
                            <i class="bi-calendar-event-fill me-2"></i>
                            계획 종료날짜
                        </label>
                        <div class="col-sm-3">
                            <input type="text" value="없음" id="detail_space_plan_end_date" class="form-control-plaintext" disabled />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label class="col-sm-3 col-form-label fw-bold text-danger">
                            <i class="bi-calendar-check me-2"></i>
                            시작날짜
                        </label>
                        <div class="col-sm-3">
                            <input type="text" value="없음" id="detail_space_start_date" class="form-control-plaintext" disabled />
                        </div>

                        <label class="col-sm-3 col-form-label fw-bold text-danger">
                            <i class="bi-calendar-check-fill me-2"></i>
                            종료날짜
                        </label>
                        <div class="col-sm-3">
                            <input type="text" value="없음" id="detail_space_end_date" class="form-control-plaintext" disabled />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="_DetailForTask.cshtml" />
    <partial name="_DetailForParticipant.cshtml" />
    <partial name="_DetailForEvent.cshtml" />
</div>
<partial name="_Modal.cshtml" />
<script src="~/js/gardenSpace.js"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded',function(){
        GetGardenSpaceDetail();
    });
</script>