<style>
    .add_space_card:hover{
        box-shadow: 0 0 11px rgba(33,33,33,.2);
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-6 p-2">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="fw-bold mb-1">
                                나의 Space
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">13</div>
                        </div>
                        <div class="col-auto">
                            <i class="bi-calendar fs-2 text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 p-2">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="fw-bold mb-1">
                                수용 가능 인원
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">40,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="bi-currency-dollar fs-2 text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
    <div class="row mb-3">        
          <div class="col-auto">
            <button class="btn btn-link btn-md" type="button">
                <i class="bi-envelope-fill text-success"></i>
            </button>            
        </div>
        <div class="col-auto">
             <button class="btn btn-link btn-md" type="button">
                <i class="bi-nut-fill text-success"></i>
            </button>     
        </div>
        <div class="col-auto">
             <button class="btn btn-link btn-md" type="button">
                <i class="bi-plus-circle-fill text-primary"></i>
            </button>
        </div>
    </div>
    <hr />
    <div class="row mb-3">
        <div class="col-sm-12 col-md-6 col-xl-4 p-2">
            <div class="card border-5 add_space_card" style="height:396px;">
                <img class="pt-5" src="~/img/undraw_add_post.svg" style="height:200px;" />
                <br />
                <h3 class="text-center fw-bolder text-secondary"><i class="bi bi-plus-circle-fill text-primary me-2"></i>작업 공간 만들기</h3>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4 p-2">
            <div class="card shadow">
                <img src="~/img/fondue.jpg" class="card-img-top" style="height:200px;" />
                <div class="card-body">
                    <h5 class="card-title fw-bold" style="color: #479f76">계피맛 퐁듀</h5>
                    <p class="card-text">
                        계피맛 퐁듀를 좋아하는
                        사람들의 모임
                    </p>
                </div>
                <div class="card-footer">       
                    <div class="row mt-1 mb-2">

                        <div class="col-auto m-auto mt-2 mb-2">
                            <img src="~/img/example.jpg" class="card-img-top" style="height:40px; width:40px; border-radius:100%;" />
                            <img src="~/img/example.jpg" class="card-img-top" style="height:40px; width:40px; border-radius: 100%;" />
                            <img src="~/img/example.jpg" class="card-img-top" style="height:40px; width:40px; border-radius: 100%;" />
                        </div>
                        <small class="col-12 text-center">3명 참가중</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>