

<div class="container" style="height:100%;">
    <div class="row mb-3">
        <div class="col-6 ">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="fw-bold mb-1">
                                나의 할일
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">13</div>
                        </div>
                        <div class="col-auto">
                            <i class="bi-calendar fs-2 text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="fw-bold mb-1">
                                나의 포인트
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">40,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="bi-currency-dollar fs-2 text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12">
            <h3 class="fw-bold mb-3">
                <i class="bi-tree-fill me-2" style="color:#198754"></i>
                최근 활동했던 플레이스
            </h3>

            <div class="row mt-3">
                <div class="col-sm-12 col-lg-4 mb-2">
                    <div class="card shadow">
                        <img src="~/img/fondue.jpg" class="card-img-top" style="height:200px;" />
                        <div class="card-body">
                            <h5 class="card-title fw-bold" style="color: #479f76">계피맛 퐁듀</h5>
                            <p class="card-text">
                                계피맛 퐁듀를 좋아하는
                                사람들의 모임
                            </p>
                        </div>
                        <div class="card-footer">       
                            <div class="row mt-1 mb-2">

                                <div class="col-auto m-auto mt-2 mb-2">
                                    <img src="~/img/example.jpg" class="card-img-top" style="height:40px; width:40px; border-radius:100%;" />
                                    <img src="~/img/example.jpg" class="card-img-top" style="height:40px; width:40px; border-radius: 100%;" />
                                    <img src="~/img/example.jpg" class="card-img-top" style="height:40px; width:40px; border-radius: 100%;" />
                                </div>
                                <small class="col-12 text-center">3명 참가중</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-4 mb-2">
                    <div class="card shadow">
                        <img src="~/img/example.jpg" class="card-img-top" style="height:200px;" />
                        <div class="card-body">
                            <h5 class="card-title fw-bold" style="color: #479f76">다엘 음악학원</h5>
                            <p class="card-text">
                                바이올린, 첼로, 피아노 전문 음악학원 입니다.
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="row mt-1 mb-2">

                                <div class="col-auto m-auto mt-2 mb-2">
                                    <img src="~/img/sunset.jpg" class="card-img-top" style="height:40px; width:40px; border-radius:100%;" />
                                    <img src="~/img/tasmanian.jpg" class="card-img-top" style="height:40px; width:40px; border-radius: 100%;" />
                                </div>
                                <small class="col-12 text-center">2명 참가중</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-4 mb-2">
                    <div class="card shadow">
                        <img src="~/img/cat.jpg" class="card-img-top" style="height:200px;" />
                        <div class="card-body">
                            <h5 class="card-title fw-bold" style="color: #479f76">랜선 집사들</h5>
                            <p class="card-text">
                                고양이를 좋아하는 집사들의 모임
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="row mt-1 mb-2">

                                <div class="col-auto m-auto mt-2 mb-2">
                                    <img src="~/img/cat2.jpg" class="card-img-top" style="height:40px; width:40px; border-radius:100%;" />
                                    <img src="~/img/buns.jpg" class="card-img-top" style="height:40px; width:40px; border-radius: 100%;" />
                                    <img src="~/img/hamburg.jpg" class="card-img-top" style="height:40px; width:40px; border-radius: 100%;" />
                                    <img src="~/img/kitten.jpg" class="card-img-top" style="height:40px; width:40px; border-radius: 100%;" />
                                    <img src="~/img/manarola.jpg" class="card-img-top" style="height:40px; width:40px; border-radius: 100%;" />
                                </div>
                                <small class="col-12 text-center">5명 참가중</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
           
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12">

            <div class="row">
                <div class="col-8">
                    <h3 class="fw-bold mb-3 float-left">
                        <i class="bi-archive-fill me-2" style="color:#198754"></i>
                        최근 활동중인 업무
                    </h3>
                </div>
                <div class="col-4">
                    <select class="form-control">
                        <option>랜선 집사들</option>
                    </select>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header fw-bold">
                    <i class="bi-box me-2"></i>
                    삼색이의 행동패턴 변화
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tbody class="w-100">
                            <tr>
                                <td width="5%" class="text-center">
                                    <i class="bi-box"></i>
                                </td>
                                <td width="5%">
                                    <span class="fw-bold">업무</span>
                                </td>
                                <td width="20%" class="text-center">
                                    <img src="~/img/example.jpg" style="border-radius: 50%; min-width: 30px; min-height: 30px; max-width: 30px; max-height: 30px; " />
                                    <img src="~/img/example.jpg" style="border-radius: 50%; min-width: 30px; min-height: 30px; max-width: 30px; max-height: 30px; " />
                                </td>
                                <td class="text-left">
                                    <a href="#" style="text-decoration:none; color: #479f76">삼색이 행동변화 004</a>
                                </td>
                                <td width="30%" class="text-center">
                                    <div class="progress mt-2">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td width="5%" class="text-center"><span class="text-danger fw-bold">3일</span></td>
                            </tr>
                            <tr>
                                <td width="5%" class="text-center">
                                    <i class="bi-box"></i>
                                </td>
                                <td width="5%">
                                    <span class="fw-bold">업무</span>
                                </td>
                                <td width="20%" class="text-center">
                                    <img src="~/img/example.jpg" style="border-radius: 50%; min-width: 30px; min-height: 30px; max-width: 30px; max-height: 30px; " />
                                </td>
                                <td class="text-left"><a href="#" style="text-decoration:none; color: #479f76">삼색이 행동변화 002</a></td>
                                <td width="30%" class="text-center">
                                    <div class="progress mt-2">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td width="5%" class="text-center"><span class="text-danger fw-bold">3일</span></td>
                            </tr>
                            <tr>
                                <td width="5%" class="text-center">
                                    <i class="bi-box"></i>
                                </td>
                                <td width="5%">
                                    <span class="fw-bold">업무</span>
                                </td>
                                <td width="20%" class="text-center">
                                    <img src="~/img/example.jpg" style="border-radius: 50%; min-width: 30px; min-height: 30px; max-width: 30px; max-height: 30px; " />
                                </td>
                                <td class="text-left"><a href="#" style="text-decoration:none; color: #479f76">삼색이 행동변화 003</a></td>
                                <td width="30%" class="text-center">
                                    <div class="progress mt-2">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td width="5%" class="text-center"><span class="text-danger fw-bold">3일</span></td>
                            </tr>
                            <tr>
                                <td width="5%" class="text-center">
                                    <i class="bi-box"></i>
                                </td>
                                <td width="5%">
                                    <span class="fw-bold">업무</span>
                                </td>
                                <td width="20%" class="text-center">
                                    <img src="~/img/example.jpg" style="border-radius: 50%; min-width: 30px; min-height: 30px; max-width: 30px; max-height: 30px; " />
                                </td>
                                <td class="text-left"><a href="#" style="text-decoration:none; color: #479f76">삼색이 행동변화 004</a></td>
                                <td width="30%" class="text-center">
                                    <div class="progress mt-2">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td width="5%" class="text-center"><span class="text-danger fw-bold">3일</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header fw-bold">
                    <i class="bi-box me-2"></i>
                    고양이 목욕을 잘시키는 방법
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tbody class="w-100">
                            <tr>
                                <td width="5%" class="text-center ">
                                    <i class="bi-lightning-fill text-danger"></i>
                                </td>
                                <td width="5%">
                                    <span class="text-danger fw-bold">긴급</span>
                                </td>
                                <td width="20%" class="text-center">
                                    <img src="~/img/cat.jpg" style="border-radius: 50%; min-width: 30px; min-height: 30px; max-width: 30px; max-height: 30px; " />
                                </td>
                                <td class="text-left"><a href="#" style="text-decoration:none; color: #479f76">고양이 목욕시키다 물림</a></td>
                                <td width="30%" class="text-center">
                                    <div class="progress mt-2">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td width="5%" class="text-center"><span class="text-danger fw-bold">1일</span></td>
                            </tr>
                            <tr>
                                <td width="5%" class="text-center">
                                    <i class="bi-box"></i>
                                </td>
                                <td width="5%">
                                    <span class="fw-bold">업무</span>
                                </td>
                                <td width="20%" class="text-center">
                                    <img src="~/img/buns.jpg" style="border-radius: 50%; min-width: 30px; min-height: 30px; max-width: 30px; max-height: 30px; " />
                                </td>
                                <td class="text-left"><a href="#" style="text-decoration:none; color: #479f76">고양이 목욕 용품에 관하여</a></td>
                                <td width="30%" class="text-center">
                                    <div class="progress mt-2">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 30%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td width="5%" class="text-center"><span class="text-danger fw-bold">1일</span></td>
                            </tr>
                            <tr>
                                <td width="5%" class="text-center">
                                    <i class="bi-pencil-fill text-warning"></i>
                                </td>
                                <td width="5%">
                                    <span class="fw-bold text-warning">결제</span>
                                </td>
                                <td width="20%" class="text-center">
                                    <img src="~/img/sunset.jpg" style="border-radius: 50%; min-width: 30px; min-height: 30px; max-width: 30px; max-height: 30px; " />
                                </td>
                                <td class="text-left"><a href="#" style="text-decoration:none; color: #479f76">고양이 목욕 물품 구입</a></td>
                                <td width="30%" class="text-center">
                                    <div class="progress mt-2">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td width="5%" class="text-center"><span class="text-danger fw-bold">5일</span></td>
                            </tr>
                            <tr>
                                <td width="5%" class="text-center">
                                    <i class="bi-box"></i>
                                </td>
                                <td width="5%">
                                    <span class="text-dagner fw-bold">업무</span>
                                </td>
                                <td width="20%" class="text-center">
                                    <img src="~/img/example.jpg" style="border-radius: 50%; min-width: 30px; min-height: 30px; max-width: 30px; max-height: 30px; " />
                                    <img src="~/img/hamburg.jpg" style="border-radius: 50%; min-width: 30px; min-height: 30px; max-width: 30px; max-height: 30px; " />
                                    <img src="~/img/kitten.jpg" style="border-radius: 50%; min-width: 30px; min-height: 30px; max-width: 30px; max-height: 30px; " />
                                     <span class="ms-1">외 5명</span>
                                </td>
                                <td class="text-left"><a href="#" style="text-decoration:none; color: #479f76">안전하게 목욕 시키기</a></td>
                                <td width="30%" class="text-center">
                                    <div class="progress mt-2">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td width="5%" class="text-center"><span class="text-danger fw-bold">1일</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        ChangeTagUrl('a_user_info');
    });

    function GetCookieValue(cookieName) {
        var match = document.cookie.match(new RegExp('(^| )' + cookieName + '=([^;]+)'));
        if (match) {
            return match[2];
        }
        else {
            return '';
        }
    }


    function ChangeTagUrl(tagId) {
        let target = document.getElementById(tagId);
        target.setAttribute("href", "/GardenUser/Detail");
    }
</script>